html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,strong, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6,button,p,a,div{
    font-family: "Muli",sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** --------------------  css reset  ----------------------- **/
h1{
    font-size:6em;
    color:white;
}
h2{
    color:black;
    font-size: 1.9rem;
    line-height: 1.19;
    letter-spacing: 0;
    font-weight: 900;
    font-style: normal;
}
h3{
    font-weight:bold; 
}
p{
    color:#666B6D;
    font-size:13px;
    letter-spacing: 0px;
}
.btn_general{
    border-radius: 20px 20px 20px 20px;
    width:9rem;
    height: 40px;
    background-color: #ffad00;
    padding: 0;
    border: none;
    font-size:80%;
    z-index: 999;
}
.btn_general:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.menu_desktop{
    display: none;
}
.menu{
    position:fixed;
    max-height: 0;
    left:0;
    top:0;
    height:40vh;
    width:100%;
    z-index:9;
    background:#393939;
    height:100vh;
    overflow: hidden;
}
.croix_menu{
    position:absolute;
    top:20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width:30px;
    height: 30px;
    justify-content: space-around;
    cursor: pointer;
}

.croix_menu>span{
    background: white;
    height: 3px;
    width: 100%;
}
#span2{
    transform: rotate(45deg);
}
#span1{
    transform: rotate(-45deg);
    margin-top:1.75rem;
}
.menu_nav{
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu_ul{
    
}
.menu_li{
    font-size:1.2em;
    margin-bottom:1rem;
    
}
.menu_li>a{
    color:white;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1px;
}
.menu_li>a:hover{
    color:#ffad00;

    transition: color 0.3s;
}
.logo_menu{
    display: block;
    text-align: center;
    margin: 2rem 0;
}
header{
    position: sticky;
    top:0;
    width:100%;
    background-color:#232323;
    height: 10vh;
    z-index:100;
}
.header_parent{
    position: relative;
    width: 100%;
}
.logo_georide{
    display: inline-block;
    padding: 1em 0 0 1em;
    max-width: 20%;
    min-width: 10rem;
}
.hamburger_svg{
    display: inline-block;
    height: 100%;
    width:2rem;
    fill: #ffad00;
    position:absolute;
    right: 1rem;
    top:0.5rem
}

.hamburger_svg:hover{
    fill:white;
    cursor: pointer;
    transition: fill 3s 3s 3s;
}
.block_1{
    position: relative;
    background: url("img/block_1-image.jpg");
    background-size:cover;
    height: 53vh;
}
.block_1-label{
    width:57%;
    padding: 4rem 0 1rem 2rem;
}

.block_1-button{
    margin-top:5%; 
    margin-left:2rem;
}

.block_2-triple_gif{
    text-align: center;
    margin-bottom: 3rem;
}
.block_2-gif{
    max-width: 70%;
    padding: 4rem 0 2rem 0;
}
.block_2-texte{
    padding:2rem 0;
    max-width: 70%;
    margin: auto;
}

@keyframes bounce {
from,
20%,
53%,
80%,
to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

40%,
43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}

70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}

90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
}
}
.bounce {
-webkit-animation-name: bounce;
animation-name: bounce;
-webkit-transform-origin: center bottom;
transform-origin: center bottom;
}

.notif{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
}
.block_2-element{
    position: relative;
}
.block_2-element-notif{
    width: 90%;
    max-width: 20rem;
    animation: bounce 2s infinite;
}

.block_3{
    position: relative;
    background: url("img/background_block3.jpg");
    background-size: cover ; 
    height:135vh;
    color:#818383;
}
.block_3-contenu{
    padding: 3rem 0 3rem 3rem;
    z-index: 10;
}
.block_3 h2{
    font-size:2.5em;
    color:white;
}
.block_3-titreGeoride{
    margin-bottom: 2rem;
}
.block_3-texte{
    width:70%;
    margin-bottom: 2rem;
    line-height: 1.4;
}
.btn_black{
    background: #383838;
    color:white;
    height:3rem;
}
.btn_black:hover{
    background: #ffad00;
    color:black;
}
.block_3-img_boitier{
    overflow: hidden;
    z-index: 11;
    position: relative;
    display: block;
    width:80%;
    margin: auto;
    animation: slideInDown alternate 2s infinite;
}
@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }

  #block_4{
      padding-left: 2rem;
      background: white;
      position: relative;
      margin: auto;
      padding-top:2rem;
      z-index: 15;
      background: #f4f4f4;
  }
    #block_4_informations>p,#block_4_informations>h2{
        margin-bottom: 2rem;
    }
  #block_4_img{
      bottom:0;
      max-width: 20rem;
      max-height: 20rem;
  }
  #block_4>p{
      margin: 2rem 0;
  }

  #slider_ul{
    display:flex;
    width:200%;
    overflow: hidden;
    animation: anim 25s infinite;
    padding-bottom: 2rem;
    }
    .slider_li{
        width: 33%;
    }
    .slider_li>h2{
        font-size:120%;
        padding: 0 1rem;
    }
    .top_img:hover{
        opacity:0.5;
        cursor:pointer;
        transition: all 0.5s;
    }
    .slider_li>h2:hover{
        color:#ffad00;
        transition: all 0.3s;
    }

@keyframes anim{
    0% { transform: translate(-0%);}
    18% { transform: translate(-18%);}
    34% { transform: translate(-34%);}
    50% { transform: translate(-50%);}
}
.top_img{
    width:100%;
}
footer{
    padding:8em 0 10em 5em;
    display: flex;
    flex-wrap: wrap;
    background:#232323;
    height: 50vh;
}
.logo_footer{
    padding-bottom: 2rem;
}
.section_footer{
    width:40%;
    padding: 1rem;
}
.section_footer>h4{
    color:white;
    font-weight: bold;
    padding-bottom: 2rem;
}
/*
.section_footer>li{
    list-style-type: circle;
    text-decoration:none;
    color:#C4C7C7;
}*/

@media (min-width:767px){
    .menu_desktop{
        display: inline-block;
        width: 60%;
        /*! top:0; */
        position: absolute;
        padding: 2em 0 0 2em;
    }
    .menu_desktop_ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .menu_desktop_li>a{
        text-decoration: none;
        color:#9A9A9A;
        font-weight:bold;
    }
    .menu_desktop_li>a:hover{
        color:white;
    }
    .hamburger_svg{
        display: none;
    }
    .menu{
        height: 0;
    }
    .block_2-triple_gif{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .block_2-element{
        width:33%;
    }
    .block_2-texte{
        max-width: 90%;
    }
    .block_2-gif{
        max-width: 100%;
    }
    .notif{
        width: 70%;
        top:48%;
        left:50%;
    }
  .block_3-img_boitier{
    width: 30rem;
   }
  .block_3-titreGeoride{
      font-size: 10em;
  }
  #block_4{
      height: 40vh;
      display: flex;
      flex-direction: row-reverse;
  }
  #block_4_informations{
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: space-around;
  }
  #block_4_btn{
      width:15rem;
  }
  #block_4_img{
      bottom:0;
      max-width:20rem;
      max-height: 20rem;
  }
  #slider_ul{
    width:100%;
    overflow: hidden;
    animation:none;
    }
    .slider_li>h2{
        text-align: center;
    }
    #slider_ul>li{
        width: 30%;
    }
}


